.footer{
  background-color: #071731;
  color: #dadee3;
  padding: 2vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9em;
}

.footerContent{
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.content{
  display: flex;
  gap: 2vh;
  margin: 2vh 0 4vh 0;
}

.contentTwo{
  gap: 1vh;
  margin: 2vh 0 4vh 0;
}

.contentTwo a{
  display: flex;
  text-decoration: none;
  color: #dadee3;
}

.contentTwo div{
  align-content:center;
}

.content div{
  align-content: end;
}

.logoDiv img{
  width: 3%;
}

.logoDiv{
  width: 80%;
  display: flex;
  align-items: center;
}

.logoDiv div{
  margin-left: 1vw;
}

@media screen and (max-width: 750px) {
  .content{
    display: flex;
    flex-direction: column;
  }
  .logoDiv img{
    width: 30%;
  }
}