.imgDiv{
  margin: 1vh 0;
  width: 100%;
}

.imgDiv img{
  width: 100%;
}

.btnDiv{
  display: flex;
  gap: 1vw
}

.inputDiv{
  width: 52%;
}

.editHomeData{
  margin-top: 1vh;
  display: flex;
}

.editHeader{
  margin-right: 3vw;
  width: 35%;
}

.editHeaderList{
  width: 65%;
}

.homeEditDiv{
  width: 90%;
  margin: auto;
}

h3{
  color: #003D6F;
}