.basicDetails{
  padding: 0 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 88%;
}

.rowDiv{
  margin-top: 4vh;
  display: flex;
  gap: 2vw;
}

.btnDiv{
  width: 100%;
  display: flex;
  justify-content: center;
}